<table class="ellipsis">
  <thead>
    <tr>
      <th style="width: 90%">Vraag</th>
      <th class="right">Score</th>
    </tr>
  </thead>

  <% @questions.each do |question| %>
    <tr>
      <td><%= link_to question, question %></td>
      <td class="right"><%= @score[question.id] %></td>
    </tr>
  <% end %>
</table>

