%form(method="post")

  %table.table.table-striped
    %thead
      %tr
        %th
          %h4
            = @question
    - @options.each.with_index do |option, i|
      %tr{class: option == @option && 'danger' }
        %td(style="padding:0")
          %label(style="display:block; padding:8px")
            %input(name="option" required){type: 'radio', value: option.id, autofocus: i < 1}
              = option

  %button(type="submit" class="btn btn-lg btn-primary" disabled)
    Antwoord controleren

