<div class="row">
  <div class="col-sm-6">
    <h4>Het correcte antwoord is:</h4>
    <strong><%= simple_format @question.answer %></strong>
  </div>

  <div class="col-sm-6">
    <h4>Jouw antwoord is:</h4>
    <%= simple_format @answer.input %>

    <%= simple_form_for @answer do |f| %>
      <%= f.input :correct, as: :hidden %>

      <button class="btn btn-danger" autofocus>Ik heb het fout</button>
      <button href="#" class="btn btn-success" id="correct_answer_button">Ik heb het goed</button>
    <% end %>
  </div>
</div>

