<%= simple_form_for @order do |f| %>
  <h4>Stap 1: hoeveelheid credits selecteren</h4>
  <table>
    <tr>
      <td>
        <label>
          <input type="radio" name="credits" value="100">
           100 credits
         </label>
      </td>
      <td>2 cent per antwoord</td>
      <td>
    </tr>
    <tr>
      <td>
        <label>
          <input type="radio" name="credits" value="500" checked>
          500 credits
        </label>
      </td>
      <td>
        1 cent per antwoord
      </td>
      <td>
        <strong>50% korting!</strong>
      </td>
    </tr>
  </table>

  <h4>Stap 2: bank selecteren</h4>

  <table>
    <% Qantani.banks.each do |bank| %>
      <tr>
        <td>
          <label>
            <input type="radio" name="bank_id" value="<%= bank.id %>">
            <%= bank.name %>
          </label>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="wide">
    <input type="submit" value="Credits kopen">
  </div>
<% end %>

