<ul class="nav nav-pills nav-stacked">
  <% @levels.each do |level| %>
    <li>
      <%= link_to [level, :session], method: :post do %>
        <span class="pull-right">
          <%= current_user.sessions.where(level: level).last.try :score %>
        </span>

        Blok <%= level.id %> (<%= level.questions.length %> vragen)
      <% end %>
    </li>
  <% end %>
</ul>

