<ul class="nav nav-pills nav-stacked">
  <% @levels.each do |level| %>
    <li>
      <%= link_to level do %>
        <% if (score = current_user.sessions.where(level: level).last.try(:score)) %>
          <span class="pull-right badge">
            <%= score %>%
          </span>
        <% end %>

        <strong>
          Thema <%= level.number %>
        </strong>

        (<%= level.questions.length %> vragen)
      <% end %>
    </li>
  <% end %>
</ul>

