<ul class="nav nav-pills nav-stacked">
  <% @levels.sort_by { |l| l.questions.length }.each do |level| %>
    <li>
      <%= link_to level do %>
        <span class="pull-right">
          <%= current_user.sessions.where(level: level).last.try :score %>
        </span>

        <strong>
          Thema <%= level.id %>
        </strong>

        (<%= level.questions.length %> vragen)
      <% end %>
    </li>
  <% end %>
</ul>

