* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
  width: 95%%;
  margin: 10px auto;
}

@media (min-width: 992px) {
  body {
    font-size: 16px;
  }

  .container {
    width: 650px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 10px 15px;
  text-align: left;
}

.right {
  text-align: right;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

//tbody tr:hover {
//  background: #ddd;
//  cursor: pointer;
//}

tbody tr.active {
  background: #ccc;
}

label {
  display: block
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.answer {
  p {
    padding: 15px 20px;
  }

  .success {
    background: rgb(121, 255, 121);
  }

  .failure {
    background: #F85858;
  }
}

.subtable input {
  display: block;
  width: 100%;
  border: 0;
  padding: 15px 20px;
  background: #007CDD;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

#header {
  font-size: 14px;
  padding: 0 15px 10px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #aaa;

  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

img {
  max-width: 100%;
}

