<table>
  <% @exams.each do |exam| %>
    <tr>
      <%#<td><%= link_to "Tentamen #{l exam.date, format: :long} oefenen", [exam, :session], method: :post %></td>%>
      <td><%= link_to exam, exam %></td>
      <td class="right"><%= exam.questions.count %> vragen</td>
    </tr>
  <% end %>
</table>

<%= link_to "Nieuw tentamen", [:new, @course, :exam] %>

